<div class="home__container">
	<app-card
	gameCover="assets/lies-of-p.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/god-of-war.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/fifa-22.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 79,99"
		>
	</app-card>
	<app-card
		gameCover="assets/gta-v.jpg"
		gameLabel="ON SALE"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 49,99"
	>
	</app-card>
</div>

